<nav class="container mx-auto max-w-lg">
  <div class="max-w-7xl mx-auto px-2">
    <div class="relative flex items-center justify-between h-8">
      <div
        class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex-1 text-white font-bold text-lg">
          <a href="#">🧠 TTS Tools</a>
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <a
              href="{{ url_for('index') }}"
              class="px-3 py-2 rounded-md text-sm font-medium {% if request.path == url_for('index') %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}"
              aria-current="page"
              >text2speech</a
            >
            <a
              href="{{ url_for('srt') }}"
              class="px-3 py-2 rounded-md text-sm font-medium {% if request.path == url_for('srt') %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}"
              >srt2speech</a
            >
            <a
              href="{{ url_for('openai-srt') }}"
              class="px-3 py-2 rounded-md text-sm font-medium {% if request.path == url_for('openai-srt') %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}"
              >AI srt2speech</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
